<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNHANSU_ConnectionString"
            connectionString="Data Source=MYSTERY\SQLEXPRESS;Initial Catalog=QLNHANSU;User ID=sa;Password=;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>